*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Сброс базовых стилей */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background: #f4f6fb;
  color: #222;
}

/* ===== NAVBAR ===== */

nav{
  width: 100%;
  background: linear-gradient(135deg, #4f46e5, #7c3aed);
  padding: 18px 40px;
  display: flex;
  gap: 30px;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 40px;
}

nav a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: 0.25s;
  position: relative;
}

nav a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: white;
  transition: 0.3s;
}

nav a:hover::after{
  width: 100%;
}

nav a:hover{
  transform: translateY(-2px);
}

/* ===== ОСНОВНОЙ КОНТЕНТ ===== */


/* Карточный стиль страниц */
div > h1{
  font-size: 36px;
  margin-bottom: 15px;
  color: #4f46e5;
}

div > p{
  font-size: 18px;
  margin-bottom: 10px;
}


/* ===== CONTACTS ===== */

.contacts-box{
  max-width: 500px;
  background: white;
  border-radius: 18px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  justify-content: center;
}
/* ===== PRODUCT LIST PAGE ===== */
/* ===== PRODUCT GRID ===== */

.product-grid {
  margin: 40px auto;
  display: flex;
  flex-direction: row; /* можно даже не писать */
  gap: 30px;
  justify-content: center;
  max-width: 1300px;
}
/* ===== PRODUCT CARD ===== */

.product-card {
  background: white;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 20px 45px rgba(0,0,0,0.15);
}

.product-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.product-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #1e293b;
}

.product-description {
  font-size: 14px;
  color: #64748b;
  flex-grow: 1;
  margin-bottom: 15px;
}

.product-price {
  font-size: 22px;
  font-weight: 700;
  color: #7c3aed;
  margin-bottom: 15px;
}

.product-card button {
  background: linear-gradient(135deg, #4f46e5, #7c3aed);
  border: none;
  color: white;
  padding: 12px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.product-card button:hover {
  opacity: 0.9;
  transform: scale(1.03);
}

.first{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 40px;
  padding-top: 40px;
}